
env_args:
    env: 'TicTacToe'
    source: 'handyrl.environments.tictactoe'
    #env: 'Geister'
    #source: 'handyrl.environments.geister'


train_args:
    observation: False
    gamma: 0.8
    forward_steps: 16
    compress_steps: 4
    entropy_regularization: 3.0e-1
    entropy_regularization_decay: 0.1
    update_episodes: 2000
    batch_size: 128
    minimum_episodes: 20000
    maximum_episodes: 200000
    num_batchers: 2
    use_batcher_process: True
    eval_rate: 0.1
    worker:
        num_gather: 2
        num_process: 6
    lambda: 0.7
    policy_target: 'TD' # 'UGPO' 'VTRACE' 'TD' 'MC'
    value_target: 'TD' # 'VTRACE' 'TD' 'MC'
    seed: 0
    restart_epoch: 0


entry_args:
    remote_host: ''
    num_gather: 2
    num_process: 6

