
env_args:
    env: 'TicTacToe'
    source: 'environments.tictactoe'
    #env: 'Geister'
    #source: 'environments.geister'


train_args:
    remote: False
    observation: False
    forward_steps: 16
    entropy_regularization: 3.0e-1
    update_episodes: 2000
    batch_size: 128
    minimum_episodes: 20000
    maximum_episodes: 200000
    num_batchers: 2
    eval_rate: 0.1
    worker:
        num_gather: 2
        num_process: 6
    return: 'TDLAMBDA' #'MC' 'TD0'
    seed: 0


entry_args:
    remote_host: ''
    num_gather: 2
    num_process: 6

