numpy==1.20.2; python_version >= "3.7"
psutil==5.8.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
torch==1.8.1; python_full_version >= "3.6.2"
typing-extensions==3.7.4.3; python_full_version >= "3.6.2"
